# Default owner for everything not listed below
* @sony-level

# Specific directories
/webAurion/ @dd060606
/stores/ @dd060606
/services/ @dd060606
/modules/ @BreizhHardware
/targets/ @BreizhHardware
/widgets/ @BreizhHardware
/.github/ @sony-level
